TABLE.elfixo {
    TABLE-LAYOUT: fixed;
}

.searchBlu20Bold {
    FONT-WEIGHT: bold;
    FONT-SIZE: 20px;
    COLOR: #003f7f;
}

.searchBluHeadlines {
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #003399;
}

.searchHeadB {
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #660000;
}

.searchHead {
    FONT-SIZE: 11px;
    COLOR: #660000;
}

.searchBOX {
    MARGIN-BOTTOM: 7px;
    MARGIN-LEFT: 5px;
}

.searchBOXguts {
    MARGIN-TOP: 3px;
    MARGIN-BOTTOM: 4px;
    MARGIN-LEFT: 5px;
}

.searchBOXheads {
    MARGIN-TOP: 3px;
    MARGIN-BOTTOM: 4px;
    MARGIN-LEFT: 3px;
}

div.searchBOX td {
    background: #000033;
}

td#boxHeaderbg {
    background: #B8C4F4;
}

td#guts {
    background: #FFFFFF;
}

.black9 {
    FONT-SIZE: 9px;
    COLOR: #000000;
}

A.black {
    COLOR: #000000;
}

.black {
    COLOR: #000000;
}

.blackBold {
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
}

.blackBoldItalic {
    FONT-WEIGHT: bold;
    COLOR: #000000;
    FONT-STYLE: italic;
}

A.black65 {
    FONT-SIZE: 65%;
    COLOR: #000000;
}

.black65 {
    FONT-SIZE: 65%;
    COLOR: #000000;
}

.black65Bold {
    FONT-WEIGHT: bold;
    FONT-SIZE: 65%;
}

A.black10 {
    FONT-SIZE: 10px;
    COLOR: #000000;
}

.black10 {
    FONT-SIZE: 10px;
    COLOR: #000000;
}

.black10Bold {
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
}

.black11Bold {
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #000000;
}

.black75 {
    FONT-SIZE: 75%;
    COLOR: #000000;
}

A.black75Bold {
    FONT-WEIGHT: bold;
    FONT-SIZE: 75%;
    COLOR: #000000;
}

.black75Bold {
    FONT-WEIGHT: bold;
    FONT-SIZE: 75%;
    COLOR: #000000;
}

.black75BoldItalic {
    FONT-WEIGHT: bold;
    FONT-SIZE: 75%;
    COLOR: #000000;
    FONT-STYLE: italic;
}

.black11 {
    FONT-SIZE: 11px;
    COLOR: #000000;
}

.black12 {
    FONT-SIZE: 12px;
    COLOR: #000000;
}

A.black12Bold {
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #000000;
}

.black12Bold {
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #000000;
}

.black12BoldItalic {
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-STYLE: italic;
}

.black14 {
    FONT-SIZE: 14px;
    COLOR: #000000;
}

.black14Bold {
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #000000;
    LINE-HEIGHT: 16px;
}

.black20Bold {
    FONT-WEIGHT: bold;
    FONT-SIZE: 20px;
    COLOR: #000000;
}

.black22Bold {
    FONT-WEIGHT: bold;
    FONT-SIZE: 22px;
    COLOR: #000000;
}

.blue9 {
    FONT-SIZE: 9px;
    COLOR: #003399;
}

A.blue {
    COLOR: #003399;
}

.blue {
    COLOR: #003399;
}

.blueBold {
    FONT-WEIGHT: bold;
    COLOR: #003399;
}

A.blueBold {
    FONT-WEIGHT: bold;
    COLOR: #003399;
}

A.blue65 {
    FONT-SIZE: 65%;
    COLOR: #003399;
}

.blue65 {
    FONT-SIZE: 65%;
    COLOR: #003399;
}

.blue65Bold {
    FONT-WEIGHT: bold;
    FONT-SIZE: 65%;
    COLOR: #003399;
}

A.blue65Bold {
    FONT-WEIGHT: bold;
    FONT-SIZE: 65%;
    COLOR: #003399;
}

A.blue10 {
    FONT-SIZE: 10px;
    COLOR: #003399;
}

.blue10 {
    FONT-SIZE: 10px;
    COLOR: #003399;
}

.blue10Bold {
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #003399;
}

A.blue10Bold {
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #003399;
}

.blue11 {
    FONT-SIZE: 11px;
    COLOR: #003399;
}

.blue11Bold {
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #003399;
}

A.blue {
    COLOR: #003399;
}

A.blueBold {
    FONT-WEIGHT: bold;
    COLOR: #003399;
}

A.blue12 {
    FONT-SIZE: 12px;
    COLOR: #003399;
}

A.blue12Bold {
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #003399;
}

A.blue14Bold {
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #003399;
}

A.blue17Bold {
    FONT-WEIGHT: bold;
    FONT-SIZE: 17px;
    COLOR: #003399;
}

.redSearch12 {
    FONT-SIZE: 12px;
    COLOR: #cc0000;
}

.redSearch11 {
    FONT-SIZE: 12px;
    COLOR: #cc0000;
}

.red {
    COLOR: #cc0000;
}

A.red {
    COLOR: #cc0000;
}

.redBold {
    FONT-WEIGHT: bold;
    COLOR: #cc0000;
}

.red10 {
    FONT-SIZE: 10px;
    COLOR: #cc0000;
}

A.red10 {
    FONT-SIZE: 10px;
    COLOR: #cc0000;
}

.red65 {
    FONT-SIZE: 65%;
    COLOR: #cc0000;
}

A.red65 {
    FONT-SIZE: 65%;
    COLOR: #cc0000;
}

.red10Bold {
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #cc0000;
}

.red11Bold {
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #cc0000;
}

.red11 {
    FONT-SIZE: 11px;
    COLOR: #cc0000;
}

.red12Bold {
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #cc0000;
}

.red14Bold {
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: #cc0000;
}

.greySearchB12 {
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #6e7a8a;
}

.grey {
    COLOR: #666666;
}

.grey10 {
    FONT-SIZE: 10px;
    COLOR: #666666;
}

.grey65 {
    FONT-SIZE: 65%;
    COLOR: #666666;
}

.orange {
    COLOR: #cc6600;
}

.orange10 {
    FONT-SIZE: 10px;
    COLOR: #cc6600;
}

.orange65 {
    FONT-SIZE: 65%;
    COLOR: #cc6600;
}

.orange12Bold {
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #cc6600;
}

.orange11Bold {
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    COLOR: #cc6600;
}

.white12 {
    FONT-SIZE: 12px;
    COLOR: #ffffff;
}

.white12BOLD {
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    MARGIN-LEFT: 10px;
    COLOR: #ffffff;
    TEXT-DECORATION: none;
}

.white12Bold {
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    MARGIN-LEFT: 10px;
    COLOR: #ffffff;
    TEXT-DECORATION: none;
}

.white {
    COLOR: #ffffff;
}

.whiteBold {
    FONT-WEIGHT: bold;
    COLOR: #ffffff;
}

.white65 {
    FONT-SIZE: 65%;
    COLOR: #ffffff;
}

.white65Bold {
    FONT-WEIGHT: bold;
    FONT-SIZE: 65%;
    COLOR: #ffffff;
}

.white10 {
    FONT-SIZE: 10px;
    COLOR: #ffffff;
}

.white10Bold {
    FONT-WEIGHT: bold;
    FONT-SIZE: 10px;
    COLOR: #ffffff;
}

.headline {
    FONT-WEIGHT: bold;
    FONT-SIZE: 18px;
    COLOR: #435199;
}

.dek {
    FONT-WEIGHT: bold;
    FONT-SIZE: 12px;
    COLOR: #000000;
}

.boxlinkswhite {
    FONT-SIZE: 10px;
    COLOR: #ffffff;
}

.expertText {
    FONT-SIZE: 75%;
    FONT-FAMILY: geneva, arial, helvetica;
}

.sections {
    FONT-WEIGHT: bold;
    FONT-SIZE: 13px;
    COLOR: #000000;
}

OPTION {
    FONT-SIZE: 9px;
}

SELECT {
    FONT-SIZE: 9px;
}

.side A:link {
    COLOR: #000000;
    TEXT-DECORATION: none;
}

.side A:visited {
    COLOR: #000000;
    TEXT-DECORATION: none;
}

.side A:hover {
    COLOR: #003f7f;
    TEXT-DECORATION: underline;
}

.side A:active {
    COLOR: #000000;
    TEXT-DECORATION: none;
}

/* Sponsored Links On The leftNav */

.slheader {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    background: #cc0000;
    font-size: 1.0em;
    text-align: left;
    vertical-align: bottom;
}

.slheadline {
    color: #003399;
    font-weight: bold;
    text-decoration: underline;
    font-size: 0.95em;
    text-align: left;
    vertical-align: bottom;
}

.slblurb {
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-size: 0.95em;
    text-align: left;
    vertical-align: bottom;
}

.slbuy {
    color: #003399;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.1em;
    text-align: left;
    vertical-align: bottom;
}
