[Desktop Entry]
Encoding=UTF-8
Name=Link to Introduction to Programming in Java: An Interdisciplinary Approach
Type=Link
URL=http://www.cs.princeton.edu/introcs/home/
Icon=gnome-fs-bookmark
