[Desktop Entry]
Encoding=UTF-8
Name=Link to Mathematical Constants and computation
Type=Link
URL=http://numbers.computation.free.fr/Constants/constants.html
Icon=gnome-fs-bookmark
