[Desktop Entry]
Encoding=UTF-8
Name=Link to Algorithm for Computing LCM from Interactive Mathematics Miscellany and Puzzles
Type=Link
URL=http://www.cut-the-knot.org/Curriculum/Arithmetic/LCM.shtml
Icon=gnome-fs-bookmark
